body {
  font-family: "Montserrat", sans-serif;
  background: lightseagreen;
}

/* If you want stoxy elements only to show as
they are ready, add this CSS */

stoxy-repeat:not([ready]) {
  display: none;
}

stoxy-repeat {
  display: flex;
  flex-wrap: wrap;
}

.user-card {
  box-sizing: border-box;
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  background: #fff;
  border-radius: 8px;
  width: fit-content;
  animation: fade-in 500ms;
  transition: 500ms ease-in-out;
}

.user-card[leaving] {
  opacity: 0;
  margin-left: -10rem;
}

@keyframes fade-in {
  from {
    transform: translate(-30px, 0);
    opacity: 0;
  }
}

.user-card p,
.user-card h2 {
  margin: 0.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}
input {
  font-size: 20px;
  margin-bottom: 0.5rem;
  width: 40%;
  background: transparent;
  font-size: 24px;
  color: #fff;
  border: 2px solid #fff;
}
input::placeholder,
input::-webkit-input-placeholder {
  color: #fff;
}

input[type="submit"] {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: transparent;
  border: 4px solid #fff;
  cursor: pointer;
}

select {
  font-size: 20px;
  background: transparent;
  font-size: 24px;
  border: 2px solid #fff;
  margin-left: 1rem;
}

